<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">hospital</property>
    <property name="hibernate.connection.password">nopass</property>
    <mapping resource="model/CustomerDaig.hbm.xml"/>
    <mapping resource="model/Doctor.hbm.xml"/>
    <mapping resource="model/Diagnosis.hbm.xml"/>
    <mapping resource="model/Userinfo.hbm.xml"/>
    <mapping resource="model/CustomerAppo.hbm.xml"/>
    <mapping resource="model/Department.hbm.xml"/>
    <mapping resource="model/Appointment.hbm.xml"/>
    <mapping resource="model/Admin.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
